.card {
    height: 60rem;
    width:40rem;
    background-color: rgba(255, 255, 255, 0.445);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    text-align: center;
    color: #ccc;
    
}

.photoProfile {
    margin-top: 3rem;
    max-width: 20rem;
    border-radius: 100px;
    
}


.nome {
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #070b0f;
    color: #070b0f;
}

.description,.phone,.email {
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #070b0f;
}

